#note: only once, before first time repo is deployed, create a branch called: gh-pages. TODO: is there an easy and safe way to just make it part of this pipeline?

on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.4.0'
          
      - name: Set up Renv
        uses: r-lib/actions/setup-r@v2
        
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 3 # increase this number if github actions require some old packages - it means 'needing' them is remembered in cache
          packages: |
            any::rmarkdown
          #   any::knitr
          #   any::quarto
            
      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}